*{
  margin: 0;
  padding: 0;
}
body{

}
.container{
  width: 85%;
  margin: 0 auto;
  box-shadow: 2px 2px 35px gray;
  box-sizing: border-box;
}
@media only screen and (max-width: 1000px) {
    .container {
        width: 100%;
        box-sizing: border-box;
    }
}
.header{
  color: #fff;
  background: #96ceb4;
  padding: 10px 20px;
}
.header h1,
.header h3{
    font-weight: normal;
}
.banner{
  padding: 20px 20px 15px 20px;
}
.banner img{
  width: 100%;
  max-height: 350px;
}
.article{
  background: #b5e7a0;
  padding: 10px 20px;
}
.article p{
  margin-bottom: 20px;
  text-align: justify;
}
.photo{
  background: #fff;
  padding: 10px 20px;
}
.photo img{
  float: left;
  display: block;
  padding: 10px;
  width: 25%;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
}
.photo:hover img{
  opacity: 0.5;
}
.photo img:hover{
  transform: scale(1.05) rotate(3deg);
  -webkit-transform: scale(1.05) rotate(3deg);
  -ms-transform: scale(1.05) rotate(3deg);
  transition: all 0.5s ease-out;
  opacity: 1;
}
.footer{
  background: #dac292;
  padding: 20px 20px;
}

/* Clearfix*/
.clearFix:before,
.clearFix:after{
  content: "";
  display: table;
}
.clearFix:after{
  clear: both;
}
.clearFix{
  zoom: 1;
}
